@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: Outfit;
}



@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;

  --font-outfit: Outfit, sans-serif;
  --font-ovo: Ovo, sans-serif;
  --shadow-blackShadow: '14px 14px 0 #000';
  --shadow-whiteShadow: '4px 4px 0 #fff';


  /* font sizes */
  /* --text-xs: 0.813rem; /* 13px */
  /* --text-sm: 0.88rem; /* 14px  */
  /* --text-base: 0.938rem; /* 15px  */
  /* --text-md: 1.065rem; /* 17px  */
  /* --text-lg: 1.25rem; /* 20px  */
  /* --text-xl: 1.7rem; /* 27.2px  */
  /* --text-2xl: 1.95rem; */
}
